.item {
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.name {
	flex: 0 0 50%;
	align-self: start;
}

.username {
	font-style: italic;
	font-weight: 500;
	color: teal;
}
