body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #bbb;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.container {
	max-width: 1430px;
	padding: 0 15px;
	margin: 0 auto;
}

.app {
	text-align: center;
}

.appHeader {
	background-color: #282c34;
	padding: 20px 0;
	margin-bottom: 30px;
}

.navigation {
}

.list {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item:not(:last-child) {
	margin-right: 20px;
}

.link {
	position: relative;
	top: 0;
	font-size: calc(10px + 2vmin);
	background: linear-gradient(to right, rgba(40, 44, 52, 1), rgba(40, 44, 52, 1)),
		linear-gradient(to right, rgba(0, 255, 255, 1), rgba(0, 255, 255, 1));
	background-size: 100% 1px, 0 1px;
	background-position: 100% 100%, 0 100%;
	background-repeat: no-repeat;
	color: white;
	padding: 0 2px 2px;
	transition: background-size 0.4s ease;

	&:hover {
		background-size: 0 1px, 100% 1px;
	}

	&:active {
		top: 1px;
	}
}

.link.active {
	color: aqua;
}

.title {
	font-weight: 700;
	font-size: 22px;
	margin-bottom: 30px;
}
.text {
	text-align: left;
}
