.header {
	padding: 20px 40px;
}

.logo {
	width: 60px;
	height: 60px;
	animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
