.item {
	list-style: none;
	padding: 4px 10px;
	&:not(:last-child) {
		margin-bottom: 20px;
	}
}

.title {
	font-style: italic;
	font-size: 22px;
	color: teal;
	padding-left: 20px;
	margin-bottom: 5px;

	&::first-letter {
		text-transform: uppercase;
	}
}
